<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>apiTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card id="carta">
    <ion-card-header>
      <ion-card-title>Opciones de API</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-button (click)="obtenerTodo()" shape="square" size="large">
          Obtener Todo
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button shape="square" size="large">
          Obtener 1
        </ion-button>
        <ion-input style="margin-left: 5px;" type="text" placeholder="ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button id="add-modal" shape="square" size="large">
          Crear
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="eliminar(delete.value)" shape="square" size="large">
          Eliminar
        </ion-button>
        <ion-input #delete style="margin-left: 5px;" type="number" placeholder="ID"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button shape="square" size="large">
          Modificar
        </ion-button>
      </ion-item><br>

      <ion-item>
        <ion-text color="primary">
          <p id="cuadroAPI">{{datosAPI}}</p>
        </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Modal Section Begin -->
  <ion-modal trigger="add-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancelAddModal()">Salir</ion-button>
          </ion-buttons>
          <ion-title>Registro</ion-title>
          <ion-buttons slot="end" id="present-alert">
            <ion-button (click)="confirmAddModal()" [strong]="true">Confirmar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="ID" [(ngModel)]="post.id" labelPlacement="floating" placeholder="Ingrese ID"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Titulo" [(ngModel)]="post.titulo" labelPlacement="floating" placeholder="Ingrese Titulo">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Autor" [(ngModel)]="post.autor" labelPlacement="floating" placeholder="Ingrese Autor">
          </ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- Modal Section End -->
</ion-content>
