<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu de Ingreso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="titulo">Menu De Ingreso</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-avatar id="avatar" #avatar>
      <img alt="Silhouette of a person's head"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_6VJxpsnK5dc9ZFy39sVMIShflBWrstSfqw&usqp=CAU" />
    </ion-avatar>
    <ion-card>
      <ion-card-header>
        <ion-card-title >Credenciales</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-input [(ngModel)]="user.usuario" label="Nombre Usuario" labelPlacement="floating"
              placeholder="Ingrese su Usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating"
              placeholder="Ingrese su Contraseña">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle aria-label="Success toggle" color="success" [checked]="true">Recuerdame</ion-toggle>
          </ion-item><br>
          <ion-item>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </ion-item>
          <ion-button (click)="enviarInformacion()" size="small" shape="round">Conectar</ion-button><br>
          <br>
          <ion-button [routerLink]="['/login']" shape="round" size="small">
            Redirect
          </ion-button><br>
          <ion-button (click)="playAvatar()" size="small" shape="round" >
            Animar
          </ion-button>
          <div>

            <h1>{{mensaje}}</h1><br>
          </div>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>